* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Emilys Candy', cursive;
}
body{
    margin: 1rem;
    background-image: url(./images/pochoclofondo1.jpg);
}
.botonTacho{
    border-radius: 3rem;
}
img {
    margin-top: 2rem ;
    height: 200px;
}
h1 {
    background-image: linear-gradient( blue, orange, pink);
    font-size: 5rem;
    color: white;
    text-align: center;
    border-radius: 4rem;
   
}
.carrito{
    width: 10rem;
    text-align: center;
    background-color: blue;
    color: white;
    margin: 5px;
    border-radius: 5rem;
}
.carrito img{ 
    align-self: center;
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
}
.carrito-text{
    font-size: 1.5rem;
}
.card-img-top {
    border-radius: 2rem;
}
.card-title{
    font-size: 1rem;
}
.cuadroTotal{
    border-radius: 2rem;
}
.productos{
    text-align: center;
    background-color: red;
    color: white;
    margin: 5px;
    border-radius: 2rem;
}
.total{
    font-size: 3rem;
    text-align: center;
    background-image: linear-gradient(  pink, orange);
    color: black;
    margin: 5px;
    border-radius: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#botonVaciarCarrito{
    color: red;
    text-align: right;
}
#botonFinalizarCompras{
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    background-image: linear-gradient(  pink, rgb(16, 24, 192));
}
#botonFinalizarCompras:hover{
    background-image: linear-gradient(  rgb(135, 60, 72), rgb(3, 7, 78));
}
#celdaCantidad{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(  pink, orange);
    font-size: 1.5rem;
    width:18rem;
}
#finalizarCompra{
    text-align: center;
}
#tituloCarrito{
    background-image: linear-gradient(rgb(179, 11, 142),pink, rgb(0, 183, 255));
    font-size: 4rem;
    color: black;
    text-align: center;
    margin-top: 0.5rem;
}
.celdaBotonVaciar{
    text-align: right;
    margin-bottom: 0.5rem;
}
.celdaBotonIrAlCarrito{
    text-align: right;
}